@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap");
body {
  font-family: "Roboto";
  font-style: normal;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

a {
  text-decoration: none;
}

.topnav_cont {
  background-color: #E5E5E5;
  text-align: center;
}

.topnav {
  padding-top: 17px;
  padding-bottom: 17px;
}
.topnav a {
  color: #333;
  text-align: center;
  padding: 15px;
}
.topnav a:hover {
  color: #66C05D;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18%;
}
.logo-box img {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo-box .logo-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  padding: 20px;
  color: #66C05D;
}
.logo-box p {
  text-align: right;
  padding-left: 35%;
  font-size: 16px;
}

.call {
  height: 40px;
  width: 170px;
  border: 2px solid #66C05D;
  border-radius: 40px;
  text-align: center;
  margin-left: 40px;
}
.call a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 40px;
  font-size: 16px;
  color: #333;
}

.call:hover {
  background-color: #66C05D;
}
.call:hover a {
  color: #E5E5E5;
}

hr {
  border: 1px solid #EFEFEF;
}

.second-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.second-nav_menu a {
  text-align: center;
  line-height: 19px;
  color: #333;
  padding: 10px 20px;
}
.second-nav_menu a:hover {
  border-bottom: #66C05D 3px solid;
}

.main_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #66C05D;
  height: 604px;
  width: 100%;
}
.main_product .description {
  padding-left: 18%;
}
.main_product .description h1 {
  font-size: 44px;
  line-height: 56px;
  padding-top: 120px;
  color: #fff;
}
.main_product .description p {
  width: 308px;
  color: #fff;
}
.main_product .description .details {
  width: 170px;
  height: 40px;
  border: #fff solid 3px;
  border-radius: 40px;
  text-align: center;
  margin-top: 50px;
}
.main_product .description .details a {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
}
.main_product .description .details:hover {
  background-color: #fff;
  border-color: #BFE6BA;
}
.main_product .description .details:hover a {
  color: #66C05D;
}
.main_product .armchair img {
  padding-right: 15%;
  height: 605px;
  width: 100%;
}

section {
  background-color: #EFEFEF;
  height: 955px;
}
section p {
  padding-left: 18%;
  padding-top: 80px;
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
section .popular_offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 38px;
}
section .offer {
  width: 255px;
  height: 363px;
  text-align: center;
  background-color: #fff;
}
section .offer img {
  padding: 25px 65px 10px;
}
section .offer p.arm_description {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 30px;
}
section .offer p.price {
  font-size: 21px;
  font-weight: 700;
  padding: 10px 87px;
}
section .offer .buy_button {
  width: 135px;
  height: 35px;
  background-color: #66C05D;
  border: #66C05D solid 3px;
  border-radius: 30px;
  margin: 10px 63px 25px;
}
section .offer .buy_button a {
  color: #fff;
  line-height: 33px;
}
section .offer .buy_button:hover {
  background-color: #fff;
  border-color: #66C05D;
}
section .offer .buy_button:hover a {
  color: #66C05D;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 18% 132px 18%;
}
.feedback .feedback_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 47%;
  height: 212px;
  background-color: #66C05D;
}
.feedback .email_icon {
  padding: 53px 45px 53px 20px;
}
.feedback p {
  padding-left: 40px;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
.feedback p.head_block {
  padding-top: 35px;
  font-size: 18px;
}
.feedback .content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.feedback input {
  margin-left: 40px;
  padding-left: 25px;
  color: #333;
  width: 225px;
  height: 35px;
  border-style: solid;
  border-color: #66C05D;
  border-radius: 40px;
}
.feedback .shops_map {
  width: 170px;
  height: 30px;
  margin-left: 40px;
  border: 3px solid #fff;
  border-radius: 40px;
}
.feedback .shops_map a {
  padding-left: 28px;
  line-height: 30px;
  color: #fff;
}
.feedback .shops_map:hover {
  background-color: #fff;
  border-color: #BFE6BA;
}
.feedback .shops_map:hover a {
  color: #66C05D;
}

.social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 18%;
  margin-top: 38px;
  margin-bottom: 38px;
}
.social_media_link {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 10px;
  border: #66C05D solid 2px;
  border-radius: 50%;
}

.contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}
.contact_info .adress {
  margin-right: 105px;
}

.fbar {
  background-color: #EFEFEF;
}
.fbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20% 20px 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fbar div span {
  color: #828282;
}